*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("https://cdn3.photostockeditor.com/t/2411/school-classroom-background-class-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 195px;
    float: right;
    height: 70px;
}

.logo{
    background: linear-gradient(to left,rgb(230, 0, 151),rgb(134, 0, 179),rgb(0, 0, 255),rgb(100, 192, 111),rgb(255, 255, 51),rgb(255, 140, 26),rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: none;
    color: transparent;
    font-size: 32px;
    font-family: zapfino;
    padding-top: 20px;
    font-weight: bolder;
    opacity: 1;
} 

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}